<div class="wrapper" >
    <div>


        <mat-vertical-stepper style="height: auto;" [linear]="true" #stepper [animationDuration]="'200'">
            <mat-step>
                <ng-template matStepLabel>Direccion de envio</ng-template>

                <mat-tab-group>

                    <mat-tab label="Direcciones agregadas">


                        <div *ngIf="loginService.logged; then logged else notLogged"></div>


                        <ng-template #logged>

                            <div *ngIf="loginService.selectedUser[0].shipping_addresses.length > 0; then have else donthave"></div>





                            <ng-template #have>


                                <h3 style="font-weight: 300;">Selecciona alguna de tus direcciones o crea una direccion
                                    donde quieres recibir tus productos</h3>


                                <div style="max-height: 200px; overflow-y: scroll;">


                                    <div style="display: flex; max-width: 400; flex-flow: column wrap; margin-bottom: 10px;"
                                        *ngFor="let shipping of loginService.selectedUser[0].shipping_addresses">

                                        <mat-card class="shipping-card">

                                            <mat-radio-button #radio
                                                (click)="selectAddress(radio, shipping)"></mat-radio-button>
                                            <h3>{{shipping.descripcion}} | </h3>
                                            <small> {{shipping.avenida}}, {{shipping.calle}},
                                                {{shipping.casa_apartamento}}</small>
                                            <button style="font-size: 15px; margin-left: auto; margin-right: 20px;"
                                                mat-button (click)="openShippingUpdateDialog(shipping)">Actualizar <mat-icon
                                                    style="font-size: 18px;">edit</mat-icon></button>
                                        </mat-card>
                                    </div>

                                </div>

                                <mat-divider></mat-divider>

                                <button class="new-address-button" mat-stroked-button (click)="openDialog()">Agregar
                                    direccion de envio <mat-icon>add</mat-icon>
                                </button>

                    




                                <div style="margin-bottom: 40px">
                                    <button mat-button matStepperPrevious><mat-icon>navigate_before</mat-icon>
                                        Volver</button>
                                    <button style="background-color: green; color: white;" mat-stroked-button
                                        matStepperNext>Confirmar datos y seleccionar
                                        envio<mat-icon>arrow_forward</mat-icon></button>
                                </div>


                            </ng-template>


                            <ng-template #donthave>


                                <h3 style="font-weight: 400; margin-top: 20px;">No tienes direcciones de envio agregadas, agrega una para enviar tus productos</h3>

                                <button class="new-address-button" mat-stroked-button (click)="openDialog()">Agregar
                                    direccion de envio <mat-icon>add</mat-icon>
                                </button>


                                <mat-divider></mat-divider>



                                <div>
                                    <button mat-button matStepperPrevious><mat-icon>navigate_before</mat-icon>
                                        Volver</button>
                                    <button mat-button matStepperNext disabled>Siguiente
                                        <mat-icon>navigate_next</mat-icon></button>
                                </div>




                            </ng-template>




                        </ng-template>

                        <ng-template #notLogged>
                            <div style="margin: 20px;">

                                <h2>Inicia sesion y agrega alguna direccion de envio</h2>
                                <button mat-stroked-button routerLink="/login">Iniciar sesion
                                    <mat-icon>login</mat-icon></button>
                            </div>
                        </ng-template>
                    </mat-tab>



                </mat-tab-group>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Confirmacion de datos y tipo de envio</ng-template>

                <h3 style="margin-top: 20px;">Datos</h3>


                <mat-card>
                    <div style="display: flex; align-items: baseline; justify-content: space-between;">
                        <h3 style="align-self: center;">
                            Contacto
                        </h3>
                        <!-- <h3 style="align-self: center; font-weight: 200;">
                            {{loginService.selectedUser[0].email}}
                        </h3> -->

                    </div>
                    <mat-divider></mat-divider>


                    <div
                        style="display: flex; align-items: baseline; margin-top: 20px; justify-content: space-between;">
                        <h3>
                            Enviar a
                        </h3>
                        <h3>
                            {{selectedAddress === undefined ? 'No has seleccionado un lugar para enviar' :
                            selectedAddress.descripcion}}
                        </h3>
                    </div>
                </mat-card>






 
                <h3 style="margin-top: 20px;">Tipo de envio o retiro</h3>
                <mat-card  *ngFor="let payment of shippingMethods">
                    <div *ngIf="payment.cost === 'free' then free; else notFree "></div>

                    <ng-template #free>
                        <div style="display: flex; align-items: baseline;">
                            <mat-radio-button #paymentRadio (click)="selectShipping(paymentRadio, payment)"></mat-radio-button>
                            <h3>{{payment.method}}</h3>
                            <h3 style="margin-left: auto; color: green;">{{payment.precio}}</h3>
                        </div>
                    </ng-template>

                    <ng-template #notFree>
                        <div style="display: flex; align-items: baseline;">
                            <mat-radio-button #paymentRadio (click)="selectShipping(paymentRadio, payment)"></mat-radio-button>
                            <h3>{{payment.method}}</h3>
                            <h3 style="margin-left: auto;">{{payment.precio | currency : 'USD'}}</h3>
                        </div>
                    </ng-template>
             
                </mat-card>

             
                <div>
                    <button mat-button matStepperPrevious><mat-icon>navigate_before</mat-icon>
                        Volver</button>
                    <button mat-button matStepperNext [disabled]="paymentMethod === '' ? true : false">Siguiente
                        <mat-icon>navigate_next</mat-icon></button>
                </div>



            </mat-step>







            <mat-step>
                <form>
                    <ng-template matStepLabel style="font-size: 30px;" matStepperIcon="payments">Forma de
                        pago</ng-template>
                    <h2>Selecciona el metodo de pago de tu preferencia</h2>
                    <form>
                        <mat-form-field appearance="fill">
                            <mat-label>Metodo de pago</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="paymentMethodSelected($event)">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p> Metodo de pago seleccionado: <b>{{selectedValue}}</b></p>
                    </form>
                    <div>
                        <button mat-button matStepperNext [disabled]="paymentMethod === '' ? true : false">Siguiente</button>
                    </div>
                </form>
            </mat-step>







            <mat-step [editable]="">
                <div class="payment-confirmation" [ngSwitch]="selectedPayment">
                    <ng-template matStepLabel>Confirmacion de pago</ng-template>

                
                    <h3 style="font-weight: 300; margin-top: 20px;">Has seleccionado como metodo de pago
                        <b>{{selectedValue}}</b> completa los siguientes pasos para validar el
                        pago
                    </h3>







                    <div *ngSwitchCase="'Zelle'">
                        
                    <div style="display: inline-flex;" class="step1">
                        <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>1</button>
                        <h3 style="margin-left: 20px; font-weight: 300;">Verifica los productos en el recuadro derecho y
                            realiza el pago de zelle por el monto indicado al correo: <b>jsdelduca@gmail.com</b>
                            <button matTooltip="Copiar correo"
                                mat-icon-button><mat-icon>content_copy</mat-icon></button>

                        </h3>
                    </div>

                    <mat-divider></mat-divider>


                    <div style="display: inline-flex;" class="step1">
                        <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>2</button>
                        <h3 style="margin-left: 20px; font-weight: 300;">Escribe el numero de confirmacion en el
                            formulario el cual sera verificado de inmediato</h3>
                    </div>


                    <div style="display: flex; align-items: baseline; justify-content: space-evenly;">

                        <form style="margin-left: 40px;" [formGroup]="confirmationForm">
                            <mat-form-field appearance="outline">
                                <mat-label>Numero de confirmacion</mat-label>
                                <input matInput placeholder="Ej. i34xjf9" formControlName="numero_confirmacion"
                                    required>
                            </mat-form-field>
                        </form>

                        <button style="background-color: green; color: white" mat-raised-button
                            (click)="validate()">Validar codigo <mat-icon>done</mat-icon></button>
                    </div>

                    

              

                    <button (click)="openOrderStatusModal('Zelle')" style="background-color: dodgerblue; color: white;" mat-stroked-button>Ver estado del pedido</button>
                        








                    </div>


                    <div *ngSwitchCase="'Transferencia'">



                        
                    <div style="display: inline-flex;" class="step1">
                        <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>1</button>
                        <h3 style="margin-left: 20px; font-weight: 300;">Verifica los productos en el recuadro derecho y
                            realiza el pago por transferencia al mismo banco por el monto indicado en Bs a la siguiente cuenta:  </h3>

                          
                    </div>

                    <div class="step1">
                        <h4><b>Cedula:</b> {{27847008 | number }}</h4>
                        <h4><b>Numero de cuenta: </b>0108-0047-1300100399748</h4>
                        <h4><b>Banco: </b>BBVA Provincial</h4>
                    </div>

                    <mat-divider></mat-divider>


                    <div style="display: inline-flex;" class="step1">
                        <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>2</button>
                        <h3 style="margin-left: 20px; font-weight: 300;">
                            Escribe el numero de referencia o sube una captura del pago realizado, verificaremos tu pago de inmediato</h3>
                    </div>









                    <div [ngSwitch]="paymentProcessed">
                        <div style="display: flex; align-items: baseline; justify-content: space-evenly;">

                            <form style="margin-left: 40px;" [formGroup]="confirmationForm">
                                <mat-form-field appearance="outline">
                                    <mat-label>Numero de referencia</mat-label>
                                    <input matInput placeholder="Ingresa solo los ultimas 6 digitos" formControlName="numero_confirmacion"
                                        required>
                                </mat-form-field>
                            </form>
    
                            <button style="background-color: green; color: white" mat-raised-button
                                (click)="validate()">Validar codigo <mat-icon>done</mat-icon></button>
                        </div>
    
    



                    </div>


                    <button (click)="openOrderStatusModal('Transferencia')" style="background-color: dodgerblue; color: white;" mat-stroked-button>Ver estado del pedido</button>
                        

                        
                    </div>














                    <div *ngSwitchCase="'Pago movil'">

                    <div style="display: inline-flex;" class="step1">
                        <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>1</button>
                        <h3 style="margin-left: 20px; font-weight: 300;">Verifica los productos en el recuadro derecho y
                            realiza el pago movil por el monto indicado en Bs al siguiente numero:  </h3>

                          
                    </div>

                    <div class="step1">
                        <h4><b>Cedula:</b> {{27847008 | number }}</h4>
                        <h4><b>Numero de telefono:</b> 04149675244</h4>
                        <h4><b>Banco:</b> Provincial</h4>
                    </div>

                    <mat-divider></mat-divider>


                    <div style="display: inline-flex;" class="step1">
                        <button style="background-color: dodgerblue; color: white;" mat-mini-fab disabled>2</button>
                        <h3 style="margin-left: 20px; font-weight: 300;">
                            Escribe el numero de referencia o sube una captura del pago realizado, verificaremos tu pago de inmediato</h3>
                    </div>


                    <div [ngSwitch]="paymentProcessed">



                        <div style="display: flex; align-items: baseline; justify-content: space-evenly;">

                            <form style="margin-left: 40px;" [formGroup]="confirmationForm">
                                <mat-form-field appearance="outline">
                                    <mat-label>Numero de referencia</mat-label>
                                    <input matInput placeholder="Ingresa solo los ultimas 6 digitos" formControlName="numero_confirmacion"
                                        required>
                                </mat-form-field>
                            </form>
    
                            <button style="background-color: green; color: white" mat-raised-button
                                (click)="validate()">Validar codigo <mat-icon>done</mat-icon></button>
                        </div>
    
    

                        <button (click)="openOrderStatusModal('Pago movil')" style="background-color: dodgerblue; color: white;" mat-stroked-button>Ver estado del pedido</button>



                    </div>



                    


                    </div>




                    <div *ngSwitchCase="'Efectivo en divisas'">
                        <h3>El delivery recibira tu pago de divisas en efectivo al llegar al sitio, por favor confirma la cantidad a pagar
                            para confirmar el cambio
                        </h3>

                        <button (click)="openOrderStatusModal('Efectivo')" style="background-color: dodgerblue; color: white;" mat-stroked-button>Ver estado del pedido</button>

                    </div>


                  







                </div>


            </mat-step>
        </mat-vertical-stepper>






    </div>

    <div style="width: 100%; background-color: white;">

        <app-products-modal></app-products-modal>


    </div>

</div>