<section class="mb-lg-14 mb-8 mt-8">
   <div class="container">
      <!-- row -->
      <div class="row">
         <!-- col -->
         <div class="col-12">
            <div>
               <div class="mb-8">
                  <!-- text -->
                  <h1 class="fw-bold mb-0">Pago</h1>
                  <p class="mb-0">
                     Already have an account? Click here to
                     <a href="#!">Sign in</a>
                     .
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div>
         <!-- row -->
         <div style="margin-top: 40px;" class="row">
            <div class="col-xl-7 col-lg-6 col-md-12">
               <!-- accordion -->
               <div class="accordion accordion-flush" id="accordionFlushExample">
                  <!-- accordion item -->
                  <div class="accordion-item">
                     <div class="d-flex justify-content-between align-items-center">
                        <!-- heading one -->
                        <button style="font-weight: 500;" class="accordion-button fs-6 text-inherit collapsed"
                           type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                           aria-expanded="true" aria-controls="flush-collapseOne">
                           <i style="margin-right: 10px;" class="bi bi-geo-alt"></i>
                           Agregar direccion de envio
                        </button>
                        <!-- btn -->
                        <button style="width: 200px;" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                           data-bs-target="#addAddressModal">Agregar direccion <i width="32" height="32"
                              class="bi bi-plus-lg"></i></button>


                        <!-- MODAL -->
                        <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                           aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h1 class="modal-title fs-4" id="exampleModalLabel">Nueva direccion de envio</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                       aria-label="Close"></button>
                                 </div>
                                 <div class="modal-body">
                                    <form [formGroup]="loginService.shippingAddressForm" (submit)="addShippingForm()">

                                       <div style="margin-left: 20px; margin-right: 20px;">
                                          <label for="exampleFormControlInput1" class="form-label">Nombre de direccion</label>
                                          <input style="border-color: black;" type="text" class="form-control"
                                             placeholder="Nombre de direccion. Ej casa, trabajo" aria-label="Username"
                                             formControlName="name">
                                       </div>

                                       <div style="margin-left: 20px; margin-right: 20px; margin-top: 10px;">
                                          <label for="exampleFormControlInput1" class="form-label">Direccion</label>
                                          <input style="border-color: black;" type="text" class="form-control"
                                             placeholder="direccion detallada. Ej Av 40 con calle 12" aria-label="Username"
                                             formControlName="direccion">
                                       </div>

                                       <div style="margin-left: 20px; margin-right: 20px; margin-top: 10px;">
                                          <label for="exampleFormControlInput1" class="form-label">Casa o apartamento</label>
                                          <input style="border-color: black;" type="text" class="form-control"
                                             placeholder="Ej. edif Olas, villas paraiso" aria-label="Username"
                                             formControlName="casa">
                                       </div>

                                       <div style="margin-left: 20px; margin-right: 20px; margin-top: 10px;">
                                          <label for="exampleFormControlInput1" class="form-label">Info adicional</label>
                                          <textarea style="border-color: black;" type="" class="form-control"
                                             placeholder="Agrega informacion extra por aqui si es necesario" aria-label="Username"
                                             formControlName="infoExtra"></textarea>
                                       </div>

                                 

                                    </form>

                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark"
                                       data-bs-dismiss="modal">Cerrar</button>
                                    <button data-bs-dismiss="modal" type="submit" class="btn btn-primary" (click)="addShippingForm()">Agregar direccion de envio</button>
                                 </div>
                              </div>
                           </div>
                        </div>



                        <!-- collapse -->
                     </div>
                     <div id="flush-collapseOne" class="accordion-collapse collapse show"
                        data-bs-parent="#accordionFlushExample">
                        <div class="mt-5">
                           <div class="row">
                              <div *ngFor="let address of loginService.selectedUser.shipping_addresses" class="col-xl-6 col-lg-12 col-md-6 col-12 mb-4">
                                 <!-- form -->
                                 <div class="card card-body p-6">
                                    <div class="form-check mb-4">
                                       <input #checkInput style="border-color: black;" class="form-check-input" type="radio" name="flexRadioDefault"
                                          id="homeRadio" (change)="selectAdress(checkInput.value, address)">
                                    </div>
                                    <!-- address -->
                                    <address>
                                       <br>

                                       {{address.direccion}}
                                       <br>

                                       {{address.casa}}
                                       <br>

                                       <abbr title="Phone">P: 402-776-1106</abbr>
                                    </address>
                                    <div *ngIf="address.isDefault; then defaultAddress else notDefault"></div>
                                    <ng-template #defaultAddress><span class="text-primary">Direccion principal</span></ng-template>
                                    <ng-template #notDefault><button class="btn btn-sm">Seleccionar como direccion principal</button> </ng-template>

                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- accordion item -->
                  <div class="accordion-item">
                     <button style="font-weight: 500;" class="accordion-button fs-6 text-inherit collapsed"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                        <i style="margin-right: 10px;" class="bi bi-card-checklist"></i>
                        Instrucciones de envio
                        <!-- collapse -->
                     </button>
                     <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="mt-5">
                           <label for="DeliveryInstructions" class="form-label sr-only">Agrega detalles de como quieres
                              tu delivery</label>
                           <textarea class="form-control" id="DeliveryInstructions" rows="3"
                              placeholder="Escribe instrucciones de delivery"></textarea>
                           <p class="form-text">Escribe las instrucciones de como quieres que te envie el delivery</p>
                           <div style="margin-bottom: 20px;" class="mt-5 d-flex justify-content-end">
                              <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse"
                                 data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                 aria-controls="flush-collapseTwo">
                                 Previo
                              </a>
                              <a href="#" class="btn btn-primary ms-2" data-bs-toggle="collapse"
                                 data-bs-target="#flush-collapseFour" aria-expanded="false"
                                 aria-controls="flush-collapseFour">
                                 Siguiente
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- accordion item -->
                  <div class="accordion-item">
                     <button style="font-weight: 500;" class="accordion-button fs-6 text-inherit collapsed"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                        aria-controls="flush-collapseFour">
                        <i style="margin-right: 10px;" class="bi bi-credit-card"></i>
                        Metodo de pago
                        <!-- collapse -->
                     </button>
                     <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="mt-5">
                           <div class="container">
                              <div style="margin-bottom: 20px;" [ngSwitch]="paymentMethod" class="row">
                                 <!-- col -->
               
                                 <div class="col">
                                    <!-- card -->
                                    <div class="card flex-row p-8 card-product">
                                       <!-- content -->
                                       <div class="ms-6">
                                          <div style="margin-left: 10px; margin-top: 10px;" class="form-check mb-4">
                                             <input style="border-color: black;" class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="homeRadio" [checked]="paymentMethod === 'efectivo'" (click)="setPayMethod('efectivo')">
                                             <h3 class="h3">Efectivo  <i style="font-size: 20px;" class="bi bi-cash"></i></h3>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col">
                                    <!-- card -->
                                    <div class="card flex-row p-8 card-product">
                                       <!-- content -->
                                       <div class="ms-6">
                                          <div style="margin-left: 10px; margin-top: 10px;" class="form-check mb-4">
                                             <input style="border-color: black;" class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="homeRadio" (click)="setPayMethod('pago movil')">
                                             <h3 class="h3">Pago movil  <i class="bi bi-phone"></i></h3>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col">
                                    <!-- card -->
                                    <div class="card flex-row p-8 card-product">
                                       <!-- content -->
                                       <div class="ms-6">
                                          <div style="margin-left: 10px; margin-top: 10px;" class="form-check mb-4">
                                             <input  aria-expanded="false" aria-controls="collapseExample" style="border-color: black;" class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="homeRadio" (click)="setPayMethod('zelle')">
                                             <h3 class="h3">Zelle  <i class="bi bi-currency-dollar"></i></h3>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                  
                               
                                    <div style="margin-top: 20px;" *ngSwitchCase="'efectivo'">
                                       <h2>Subir foto del billete</h2>
                                       <div style="margin-bottom: 20px;" class="mt-5 d-flex justify-content-end">
                                          <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse"
                                             data-bs-target="#flush-collapseThree" aria-expanded="false"
                                             aria-controls="flush-collapseThree">
                                             Previo
                                          </a>
                                          <button class="btn btn-primary ms-2" (click)="openOrderSubmitModal('zelle')">Realizar orden</button>
                                       </div>

                                    </div>

                                    
                                    <div style="margin-top: 20px;" *ngSwitchCase="'zelle'">


                                       <h3>Ingresa el numero de confirmacion del zelle para procesar el pago</h3>
                                       <label class="form-label">Numero de confirmacion zelle</label>
                                       <form [formGroup]="confirmationFormZelle">
                                          <input style="padding-top: 10px; padding-bottom: 10px;" type="email" class="form-control" placeholder="Numero de confirmacion" required formControlName="numero_confirmacion_zelle">
                                       </form>
                                       <div *ngIf="numero_confirmacion_zelle.errors?.['required']; then noConfirmation else confirmation"></div>

                                       <ng-template #noConfirmation>
                                          <div style="margin-bottom: 20px;" class="mt-5 d-flex justify-content-end">
                                             <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                                aria-controls="flush-collapseThree">
                                                Previo
                                             </a>
                                             <button class="btn btn-primary ms-2" disabled>Realizar orden</button>
                                          </div>

                                       </ng-template>

                                       <ng-template #confirmation>
                                          <div style="margin-bottom: 20px;" class="mt-5 d-flex justify-content-end">
                                             <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                                aria-controls="flush-collapseThree">
                                                Previo
                                             </a>
                                             <button class="btn btn-primary ms-2" (click)="openOrderSubmitModal('zelle')">Realizar orden</button>
                                          </div>

                                       </ng-template>
                                  
                                    </div>

                                    <div style="margin-top: 20px;" *ngSwitchCase="'pago movil'">
                                       <h3>Ingresa los ultimos 4 digitos de la referencia para procesar el pago</h3>
                                       <label class="form-label">Numero de referencia pago movil</label>
                                       <form [formGroup]="confirmationFormPagomovil">
                                          <input style="padding-top: 10px; padding-bottom: 10px;" type="email" class="form-control" placeholder="Numero de confirmacion" required formControlName="numero_confirmacion_pagomovil">
                                       </form>
                                       <div *ngIf="numero_confirmacion_pagomovil.errors?.['required']; then noConfirmationPagomovil else confirmationPagomovil"></div>

                                       <ng-template #noConfirmationPagomovil>
                                          <div style="margin-bottom: 20px;" class="mt-5 d-flex justify-content-end">
                                             <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                                aria-controls="flush-collapseThree">
                                                Previo
                                             </a>
                                             <button class="btn btn-primary ms-2" disabled>Realizar orden</button>
                                          </div>
                                       </ng-template>

                                       <ng-template #confirmationPagomovil>
                                          <div style="margin-bottom: 20px;" class="mt-5 d-flex justify-content-end">
                                             <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                                aria-controls="flush-collapseThree">
                                                Previo
                                             </a>
                                             <button class="btn btn-primary ms-2" (click)="openOrderSubmitModal('pagomovil')">Realizar orden</button>
                                          </div>

                                       </ng-template>

                                    </div>

                                    <div *ngSwitchDefault>
                                       Nop hay metodo de pago

                                    </div>


                             


                              </div>

                            
                              <!-- Button -->
                           
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div style="margin-bottom: 40px;" class="col-md-12 offset-xl-1 col-xl-4 col-lg-6">
               <div class="mt-4 mt-lg-0">
                  <div class="card shadow-sm">
                     <h4 style="margin-left: 20px; font-weight: 500; margin-top: 20px;" class="fs-5">Detalles de compra
                     </h4>
                     <ul class="list-group list-group-flush">
                        <!-- list group item -->
                        <div style="height: auto; max-height: 420px; overflow-y: auto;" class="products-container">
                           <li *ngFor="let product of loginService.selectedUser.cart"
                              class="list-group-item px-4 py-3">
                              <div class="row align-items-center">
                                 <div class="col-2 col-md-2">
                                    <img [src]="product.imageMetadata.path_to_file" alt="Ecommerce" class="img-fluid">
                                 </div>
                                 <div class="col-5 col-md-5">
                                    <h5 class="mb-0">{{product.title}}</h5>
                                    <span><small class="text-muted">{{product.modelo}}</small></span>
                                 </div>
                                 <div class="col-2 col-md-2 text-center text-muted">
                                    <span>{{product.quantity}}</span>
                                 </div>
                                 <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                                    <span class="fw-bold">{{product.precio*product.quantity | currency: 'USD'}}</span>
                                 </div>
                              </div>
                           </li>
                        </div>
                        <li class="list-group-item px-4 py-3">
                           <div class="d-flex align-items-center justify-content-between fw-bold">
                              <h3 class="fs-5 fw-bold">Subtotal</h3>
                              <h3 class="fs-5 text-success fw-bold">{{ cartService.total | currency: 'USD'}}</h3>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>