<div class="container py-6 p-md-6 p-lg-10">
   <!-- heading -->
   <h2 class="mb-5 fs-2">Tus pedidos</h2>
   <button class="btn btn-primary" (click)="refreshOrders()">Refrescar ordenes <i class="bi bi-arrow-clockwise"></i></button>

   <div style="height: 300px; overflow-y: auto;" class="table-responsive-xxl border-0">
      <!-- Table -->
      <table class="table mb-0 text-nowrap table-centered">
         <!-- Table Head -->
         <thead class="bg-light">
            <tr>

               <th># de orden</th>
               <th>Fecha</th>
               <th>Estado</th>
               <th>Total</th>
               <th>&nbsp;</th>
         

               <th></th>
            </tr>
         </thead>
         <tbody>
            <!-- Table body -->

            <tr *ngFor="let order of loginService.selectedUser.orders">
               <!-- <td class="align-middle border-top-0 w-0">
                      <a href="#"><img src="../assets/images/products/product-img-1.jpg" alt="Ecommerce" class="icon-shape icon-xl"></a>
                   </td> -->
               <td class="align-middle border-top-0">
                  <a href="#" class="text-inherit">{{order.order_id}}</a>
               </td>
               <td class="align-middle border-top-0">{{order.date | date: 'short'}}</td>
               <td class="align-middle border-top-0">
                  <div *ngIf="order.status === 'procesado' then procesado else noProcesado"></div>
                  <ng-template #procesado>
                     <span class="badge bg-success" style="color: white;">{{order.status}}</span>
                  </ng-template>
                  <ng-template #noProcesado>
                     <span class="badge bg-warning" style="color: black;">{{order.status}}</span>
                  </ng-template>
                 
               </td>
               <td class="align-middle border-top-0">{{order.total | currency: 'USD'}}</td>
               <td class="text-muted align-middle border-top-0">
                  <button class="btn btn-dark btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-title="View" (click)="orderDetails(order.order_id)">Detalle de orden <i
                        class="bi bi-clipboard2-fill"></i></button>
               </td>
            </tr>



         </tbody>
      </table>
   </div>
</div>