


<div class="welcome">
    <!-- col -->
    <div class="col-12">
        <!-- cta -->
        <div style="background-color: rgba(30, 143, 255, 0.146);" class="d-lg-flex justify-content-between align-items-center py-6 py-lg-3 px-8 text-center text-lg-start rounded">
            <!-- img -->
            <div class="d-lg-flex align-items-center">
                <img width="120px" src="../../../assets/copo_de_nieve-removebg-preview.png" alt="" class="img-fluid" />
                <!-- text -->
                <div class="ms-lg-4">
                    <h1 class="fs-2 mb-1" ><b>Bienvenido a Refri-Repuestos Maracaibo!</b></h1>
                    <span style="font-size: 18px;">
                        Crea una cuenta y obten un
                        <span class="text-success">20%</span>
                        de descuento en tu primera compra!
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>



    <section class="mt-8">
        <div class="container">
           <!-- row -->
           <div class="table-responsive-xl pb-6 pb-xl-0">
              <div class="row flex-nowrap">
                 <div class="col-12 col-xl-4 col-lg-6">
                    <div class="p-8 mb-3 rounded" style="background: url(../../../assets/fridge.png) no-repeat; background-size: cover">
                       <div>
                          <h3 class="mb-0 fw-bold">
                             10% cashback on
                             <br>
                             personal care
                          </h3>
                          <div class="mt-4 mb-5 fs-5">
                             <p class="mb-0">Max cashback: $12</p>
                             <span>
                                Code:
                                <span class="fw-bold text-dark">CARE12</span>
                             </span>
                          </div>
                          <button type="button" style="background-color: dodgerblue; color: white; font-size: 15px;" class="btn">Ver ahora<i
                            style="margin-left: 10px;" class="bi bi-arrow-right"></i></button>
                       </div>
                    </div>
                 </div>
                 <div class="col-12 col-xl-4 col-lg-6">
                    <div class="p-8 mb-3 rounded" style="background: url(../../../assets/washer\ machine.webp.crdownload) no-repeat; background-size: cover">
                       <!-- Banner Content -->
                       <div>
                          <!-- Banner Content -->
                          <h3 class="fw-bold mb-3">
                             Say yes to
                             <br>
                             season’s fresh
                          </h3>
                          <div class="mt-4 mb-5 fs-5">
                             <p class="fs-5 mb-0">
                                Refresh your day
                                <br>
                                the fruity way
                             </p>
                          </div>

                          <a href="#" class="btn btn-dark">Ver ahora</a>
                       </div>
                    </div>
                 </div>
                 <div class="col-12 col-xl-4 col-lg-6">
                    <div class="p-8 mb-3 rounded" style="background: url(../../../assets/repuestos\ de\ refrigeracion\ automotriz.jpg) no-repeat; background-size: cover">
                       <div style="background-color: white;">
                          <!-- Banner Content -->
                          <h3 class="fw-bold mb-3">
                             When in doubt,
                             <br>
                             eat ice cream
                          </h3>
                          <div class="mt-4 mb-5 fs-5">
                             <p class="fs-5 mb-0">
                                Enjoy a scoop of
                                <br>
                                summer today
                             </p>
                          </div>

                          <a href="#" class="btn btn-dark">Ver ahora</a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>















<!-- 

<div *ngFor="let section of sections">

    
    <mat-card style="margin-bottom: 20px;">
    
        
        <h3 style="text-align: center; font-weight: 200; font-size: 30px;">{{section.section_name}}</h3>
        
        <mat-grid-list cols="{{section.cols}}" rowHeight="{{section.rowHeight}}">
            <mat-grid-tile  *ngFor="let template of section.sections_template">
                <div>
                    <button [routerLink]="template.route" [queryParams]="{category: template.query, section: template.category_name}" mat-button>{{template.category_name}} <mat-icon>chevron_right</mat-icon></button>
    
                    <div class="image">
                        <img class="products-img" [attr.width]="template.img_w" [attr.height]="template.img_h" [src]="template.img_src" alt="">
    
                    </div>
                </div>
           
            </mat-grid-tile>
        
        </mat-grid-list>
    
        <button [routerLink]="section.route" [queryParams]="{ page: 1}"  mat-button>{{section.all_button}}<mat-icon>chevron_right</mat-icon></button>
    
    </mat-card>
    
    





</div>
     -->
