





.filter-form{
    width: 190px;
    margin-left: 10px;
}


.products-img{
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.image{
    margin-left: auto;
    margin-right: auto;

}



.cart-button{
    width: 100%;
    color: white;
}



.product-title{

    font-size: 14px;
    text-align: left;
}

.product-title:hover{
    text-decoration: underline;
}










// paginator styles 

.paginator-container{
    margin-top: 30px;
    text-align: center;
}


button{
    font-size: 15px;
  
}


.material-symbols-outlined{
    font-variation-settings: 
    'FILL' 0,
    'wght' 500,
    'GRAD' 0 ,
    'opsz' 20
}



.filter-controls {
    display: inline-flex;
}



