





<section>
    <div class="container">
       <!-- row -->
       <div class="row">
          <!-- col -->
          <div class="col-12">
             <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                <!-- heading -->
                <h3 class="fs-5 mb-0">Account Setting</h3>
                <!-- button -->
                <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
                   <i class="bi bi-text-indent-left fs-3"></i>
                </button>
             </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
             <div class="pt-10 pe-lg-10">
                <!-- nav -->
                <ul class="nav flex-column nav-pills nav-pills-dark">
                   <!-- nav item -->
                   <li class="nav-item">
                      <a [class]="{'nav-link': true, 'active': currentPath == 'orders'}" aria-current="page" [routerLink]="['/dashboard/pedidos']" [queryParams]="{section: 'orders'}">
                        <i style="margin-right: 5px;" class="bi bi-bag"></i>
                         Tus pedidos
                      </a>
                   </li>
                   <!-- nav item -->
                   <li class="nav-item">
                      <a [class]="{'nav-link': true, 'active': currentPath == 'settings'}"  [routerLink]="['/dashboard/configuracion']" [queryParams]="{section: 'settings'}">
                        <i style="margin-right: 5px;" class="bi bi-gear"></i>
                         Configuraciones
                      </a>
                   </li>
                   <!-- nav item -->
                   <li class="nav-item">
                      <a [class]="{'nav-link': true, 'active': currentPath == 'address'}"  [routerLink]="['/dashboard/shipping']" [queryParams]="{section: 'address'}">
                        <i style="margin-right: 5px;" class="bi bi-geo-alt"></i>
                         Direccion
                      </a>
                   </li>
                   <!-- nav item -->
                   <!-- <li class="nav-item">
                      <a [class]="{'nav-link': true, 'active': currentPath == 'pay-method'}" [routerLink]="['/dashboard/purchases']" [queryParams]="{section: 'pay-method'}">
                        <i style="margin-right: 5px;" class="bi bi-credit-card"></i>
                         Payment Method
                      </a>
                   </li> -->
                   <!-- nav item -->
                   <li class="nav-item">
                      <a [class]="{'nav-link': true, 'active': currentPath == 'notifications'}" [routerLink]="['/dashboard/notificaciones']" [queryParams]="{section: 'notifications'}">
                        <i style="margin-right: 5px;" class="bi bi-bell"></i>
                         Notification
                      </a>
                   </li>
                   <!-- nav item -->
                   <li class="nav-item">
                      <hr>
                   </li>
                   <!-- nav item -->
                   <li class="nav-item">
                      <button class="nav-link text-danger" (click)="logout()">
                        <i style="margin-right: 5px;" class="bi bi-box-arrow-right"></i>
                         Cerrar sesion
                      </button>
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-lg-9 col-md-8 col-12">
            <router-outlet ></router-outlet>

        </div>
       </div>
    </div>
 </section>










<!-- 

<mat-card class="wrapper">
    <div class="sidebar">
        <h1 class="sidebar-title">Panel de control</h1>
        <button routerLink="/dashboard/account" mat-raised-button class="sidebar-button">Tu cuenta y ajustes<mat-icon>person</mat-icon><mat-icon>settings</mat-icon></button>
        <button routerLink="/dashboard/purchases" mat-raised-button class="sidebar-button">Compras <mat-icon>shopping_bag</mat-icon></button>
        <button routerLink="/dashboard/cart" mat-raised-button class="sidebar-button">Carrito de compras <mat-icon>shopping_cart</mat-icon></button>
        <button routerLink="/dashboard/shipping" mat-raised-button class="sidebar-button">Direcciones de envio <mat-icon>local_shipping</mat-icon></button>
    
    

    </div>
    <div class="dashboard">
        <h1 class="dashboard-title">Bienvenida Niki! </h1>

        <router-outlet></router-outlet>
        
    </div>

</mat-card> -->